/* ------------ template styles ------------ */

body {
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

#main-header {
    height: 3rem;
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
    background: #e5f3fe;
}

#tittle {
    display: inline-block;
    margin: 0;
    padding-top: 0.3rem;
    color: #166386;
}

#main-footer {
    text-align: center;
    font-size: 8pt;
    background: #000000;
    color: #ffffff;
}

#github-link {
    color: #6bbee7;
}

main {
    padding: 1rem;
}

/* ------------ Contain styles ------------ */

/* For Syntax Section */

#syntax h1 {
    color: #00000087;
}

.part {
    list-style: none;
    padding: 10px 0;
    background: #f5f6fa;
}

.part ol {
    margin-top: 1.5rem;
}

.example {
    margin: 1rem 0;
}

.topic {
    font-family: cursive;
}

.topic::before {
    display: inline-block;
    content:'';
    background: url(./topic-icon.png) center/cover;
    margin-right: 0.2rem;
    width: 1rem;
    height: 1rem;
}

/* Color DIV's */
.aqua {
    background-color: aqua;
}

.burlywood {
    background-color: burlywood;
}